<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<!-- <body class="bg-dark"> -->
<body>
{{>layout/header}}
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form id="inputFrm">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="userName" bind @keydown="beginJoinUser" class="form-control" placeholder="Name" required="required" autofocus="autofocus">
                  <label for="userName">Name</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="userEmail" bind @keydown="beginJoinUser" class="form-control" placeholder="Email address" required="required">
              <label for="userEmail">Email address</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="password" id="userPw" bind @keydown="beginJoinUser" class="form-control" placeholder="Password" required="required">
                  <label for="userPw">Password</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="password" id="confirmPw" bind @keydown="beginJoinUser" class="form-control" placeholder="Confirm password" required="required">
                  <label for="confirmPw">Confirm password</label>
                </div>
              </div>
            </div>
          </div>
          <a class="btn btn-primary btn-block" @click="beginJoinUser">Register</a>
        <div class="text-center">
          <a class="d-block small mt-3" @click="goLoginPage">Login Page</a>
          <!-- <a class="d-block small" href="forgot-password.html">Forgot Password?</a> -->
        </div>
        </form>
      </div>
    </div>
  </div>
  <div id="dropzone"></div>
{{>layout/footer}}
<script>
(function(){
 	var inputData = {};
	var inputFrm = new SOAF({
		id:'inputFrm',
		data: inputData,
		handler: {
			'beginJoinUser': function (e) {
				if(e.type == 'click' || e.keyCode == 13){
					if( !this.validation() ) return false;
					this.joinUser();
				}
			},
			'goLoginPage': function () {
				this.reset();
			}
		},
		method : {
			'validation': function () {
				var { userPw, confirmPw } = this.data
				if(userPw !== confirmPw){
					alert('비밀번호가 동일하지 않습니다.');
					this.setData({
						userPw: '',
						confirmPw: ''
					});
					return false;
				}
				
				return true;
			},
			'joinUser': function () {
				ajax.post('/user/data', this.data)
				.then(function(res){
					alert('가입이 완료되었습니다');
					location.href = '/';
				});
			}
		}
	});
	
}());
</script>
</body>
</html>
